.page-header {
    background-color: $bg-color-third;
    border-bottom: 1px solid #ECECEC;
    
    /* position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1; */
    
    /* opacity: 0.5; */
}

.header__list {
    display: flex;

    padding-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
}

.header__item + .header__item {
    margin-left: 50px;
}

.header__link {
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $second-text-color;
    text-decoration: none;

    padding-top: 32px;
    padding-bottom: 31px;

    transition:
    color 250ms $transition-timing-function;
}

.header__link:hover {
    color: $hover-color;
}

.header__link:focus {
    color: $focus-color;
}

.header__icon {
    fill: currentColor;
    align-self: center;

    margin-right: 10px;
}