.social {
    padding-top: 30px;
    padding-bottom: 28px;
}

.social__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    /* margin-top: 30px; */
    margin-bottom: 10px;
}
.social__text {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $second-text-color;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    margin-top: 0;
    margin-bottom: 16px;
}

.social__list {
    gap: 10px;
    display: flex;
    justify-content: center;
}

.social__link {
    fill: $icon-fill-color;
    display: flex;
    height: 44px;
    width: 44px;
    background-color: $bg-color-third;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    transition:
    background-color 250ms $transition-timing-function,
    fill 250ms $transition-timing-function;

    &:hover {
        background-color: $hover-color;
        fill: $second-text-color-buttons;
    }
    
    &:focus {
        background-color: $hover-color;
        fill: $second-text-color-buttons;
    }
}

